beautifulsoup4==4.12.2
black==23.7.0
click==8.1.5
colorama==0.4.6
mypy-extensions==1.0.0
numpy==1.25.1
packaging==23.1
pandas==2.0.3
pathspec==0.11.1
platformdirs==3.8.1
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
soupsieve==2.4.1
tzdata==2023.3
